.GBDetailsPage {
    background-color: #d44731;
    padding-top: 30px;
}

.gameDetails {
    border: 7px solid black;
    border-radius: 8px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.gameDetailsName {
    font-family: 'Modak', sans-serif;
    font-size: 4em;
    padding-top: 30px;
    padding-left: 30px;
}

.gameDetailsDetails {
    padding-top: 30px;
    padding-left: 60px;
    font-family: 'Open Sans', sans-serif;
}

.btnReturn {
    background-color: #d44731;
    border: 0px solid #d44731;
    margin-left: 30px;
    margin-bottom: 30px;
}

.imageDetails {
    border: 7px solid black;
    border-radius: 8px;
}

.btnLikeDislike {
    display: flex;
    margin-left: 15px;
}

.btnLike {
    margin: 10px;
}

.btnDislike {
    margin: 10px;
}

.hrDetails {
    color: #d44731;
    height: 4px;
}

.Comments {
    border: 7px solid black;
    background-color: white;
    border-radius: 8px;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
}

.ButtonsDetails {
    margin-top: 60px;
}

.ButtonsBack {
    display: flex;
    align-content: flex-end;
    margin-left: 60px;
}

.btnDetails {
   margin-top: 10px; 
}

.btnDelete {
    margin-top: 30px;
}

.rentGames {
    border: 7px solid black;
    border-radius: 20px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
    background-color: white;
   margin-top: 30px;
}

.Comments {
    border: 7px solid #d44731;
    border: 7px solid black;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
}

.CommentTitleForm {
    margin-left: 13px;
    margin-top: 30px;
}

.CommentsArea {
    margin-left: 15px;
}

.Comment-btn {
    margin-top: 20px;
    margin-left: 10px;
}
.CreateComment {
    margin-left: 200px;
}

.ToRentTitle {
    font-family: 'Modak', sans-serif;
        font-size: 2.5em;
        color: black;
        padding: 30px;
}

.Delete {
    margin-bottom: 50px;
}

