.MatchCardList {
    margin-bottom: 40px;
}

.MatchCardList img {
    height: 350px;
    object-fit: cover;
}

.MatchCardList {
    width: 400px;
    height: 300px;
    box-shadow: 0px 1px 13px rgb(96, 239, 116);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    background: rgb(96, 239, 116);
    padding: 1em;
    padding-bottom: 3.4em;
    align-content: space-between;
    margin: 10px;
}

.imageMatchesList {
    background: rgb(241, 241, 241);
    width: 365px;
    height: 200px;
    display: grid;
    place-items: center;
    object-fit: cover;
}

.MatchCardList .text-title-matchesList {
    font-family: 'Modak', sans-serif;
    font-weight: lighter;
    justify-content: left;
    padding-right: 2em;
    left: 1em;
    font-size: 2.8em;
    bottom: 1.875em;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    color: black;
}

.MatchesBodyText {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1em;
}

.MatchesLink {
    text-decoration: none;
    color: black;
}

.card-icon {
    opacity: 0;
    transform: translateX(-20%);
    width: 3em;
    height: 3em;
    transition: all .3s ease-in-out;

}

.icono {
    margin-top: 230px;
    position: absolute;
    bottom: 20;
    right: 20;
}

svg {
    --size: 20px;
    width: var(--size);
    height: var(--size);

    margin-left: 300px;
}

.MatchCardList:hover {
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
}

.MatchCardList:hover .card-icon {
    opacity: 1;
    transform: translateX(20%);
}