.rentcardimg {
    width: 200px;
    object-fit: cover;
}

.CardBGRent {
    width: 300px;
    height: 400px;
    border: 7px solid black;
    border-radius: 8px;
}

.CardBGRentTitle {
    font-family: "Modak", sans-serif;
        font-size: 2em;
    color: black;
    font-weight: lighter;
}

.RentCardImg {
    object-fit: cover;
    width: 286px;
    height: 180px;
}
