.search img {
    width: 80px;
    margin-right: 10px;
    padding: 10px;
}

.Search {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    border-radius: 6px;
    margin: 10px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.searchbar {
    margin: 30px 8px 30px 8px;
}

.inputBoardGame {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 1255px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #f3f3f4;
    transition: .3s ease;
}

a {
    text-decoration: none;
}

.search {
    color: black;
}

.inputBoardGame::placeholder {
    color: #0b0b0bba;
}

.inputBoardGame:focus,
inputBoardGame:hover {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    outline: none;
    border-color: #000000;
    background-color: #003cff4e;
    ;
    box-shadow: 0 0 0 2px #003cff4e;
}