.DescriptionMyMatches {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 1px 13px rgb(96, 239, 116);
    cursor: pointer;
    transition: all 120ms;
    background: rgb(96, 239, 116);
    padding: 1em;
    padding-bottom: 3.4em;
    align-content: space-between;
    margin: 10px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.5em;
}

.DescriptionMyMatches:hover {
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
}

.TitleMyMatches {
    font-family: 'Modak', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
}