/* .loader {
  width: 54px;
  height: 54px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  background-image:
    radial-gradient(circle 5px, #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px, #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px, #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px, #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px, #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px, #FF3D00 100%, transparent 0);
  background-repeat: no-repeat;
  animation: move 4s linear infinite, rotate 2s linear infinite;
}

@keyframes rotate {

  0%,
  20% {
    transform: rotate(0deg)
  }

  30%,
  40% {
    transform: rotate(90deg)
  }

  50%,
  60% {
    transform: rotate(180deg)
  }

  70%,
  80% {
    transform: rotate(270deg)
  }

  90%,
  100% {
    transform: rotate(360deg)
  }
}

@keyframes move {

  0%,
  9% {
    background-position:
      -12px -15px, -12px 0px, -12px 15px,
      12px -15px, 12px 0px, 12px 15px;
  }

  10%,
  25% {
    background-position:
      0px -15px, -12px 0px, -12px 15px,
      34px -15px, 12px 0px, 12px 15px;
  }

  30%,
  45% {
    background-position:
      0px -34px, -12px -10px, -12px 12px,
      34px -15px, 12px -10px, 12px 12px;
  }

  50%,
  65% {
    background-position:
      0px -34px, -12px -34px, -12px 12px,
      34px -12px, 0px -10px, 12px 12px;
  }

  70%,
  85% {
    background-position:
      0px -34px, -12px -34px, 0px 12px,
      34px -12px, 0px -10px, 34px 12px;
  }

  90%,
  100% {
    background-position:
      0px -34px, -12px -34px, 0px 0px,
      34px -12px, 0px 0px, 34px 12px;
  }
} */

.ImgAvatar {
  width: 300px;
  border: 7px solid black;
  border-radius: 8px;
  margin: 10px;
}

.ModalCreate {
  background-color: #d4473144;
}

.ModalCreate .modal-content {
  background-color: #d44731;
}

.CreateRent {
  font-family: 'Modak', sans-serif;
  font-size: 3em;
}

.ProfileDetails {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  border: 7px solid black;
  border-radius: 8px;
  padding: 30px;
  margin: 10px;
  background-color: white;
}

.ProfileText {
  padding: 30px;
}

.ProfileUsername {
  font-family: 'Modak', sans-serif;
  font-weight: lighter;
  font-size: 4em;
}

.GamesToRent {
  font-family: 'Open Sans', sans-serif;
  border: 7px solid black;
  border-radius: 8px;
  padding: 30px;
  margin: 10px;
  background-color: white;
}

.GamesRent {
  display: flex;
  align-content: space-between;
}

.TitleGamesToRent {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  font-family: 'Modak', sans-serif;
  font-weight: lighter;
  font-size: 2em;
}

.ButtonCreateGB {
  padding-left: 580px;
}

.MyGB {
  font-family: 'Open Sans', sans-serif;
  border: 7px solid black;
  border-radius: 8px;
  padding: 30px;
  margin: 10px;
}

.MyRentedGB {
  font-family: 'Open Sans', sans-serif;
  border: 7px solid black;
  border-radius: 8px;
  padding: 30px;
  margin: 10px;
  background-color: white;
}

.MyMatches {
  font-family: 'Open Sans', sans-serif;
  border: 7px solid black;
  border-radius: 8px;
  padding: 30px;
  margin: 10px;
  background-color: white;
}

.ProfilePage {
  background-color: #d44731;
  padding-top: 30px;
}