.BoardgamesList {
    padding: 30px;
    background-color: white;
    border: 7px solid black;
    border-radius: 20px;
}

.BoardgamesListTitle {
    font-family: 'Modak', sans-serif;
    color: black;
    font-size: 5em;
    padding-bottom: 20px;
}

.BoardgameListContainer {
    padding: 10px;
    background-color: white;

}

.SearchBar {
    padding: 10px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    border: 4px solid rgb(23, 74, 149);
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: white;
    border: 7px solid black;
    border-radius: 20px;
}

.SearchGames {
    font-family: 'Modak', sans-serif;
    font-size: 2em;
    padding: 10px;
}

.hrList {
    color: rgb(23, 74, 149);
    height: 4px;
}

.BoardgameListContainer {
    background-color: rgb(23, 74, 149);
    padding-top: 20px;
}